form {
    margin-left: 10rem;
    padding: 10px;
    width: 70%;
    border: 1px solid black;
    border-radius: 10px;
}

.form-input {
    margin-left: 2rem;
    margin-top: 1rem;
    width: 92%;
    text-align: left;
}

.form-input input {
    background-color: #c0d7fe;
}

.fas .fa-home {
    font-size: 30px;
}

.checkPass {
    position: relative;
    right: -47rem;
    top: -2rem;
    width: 2rem;
}
.form-submit {
    text-align: center;
}

.form-button {
    display: inline-block;
    width: 92%;
}
